<?xml version='1.0' encoding='UTF-8'?> 
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us --> 
<manifest android:versionCode='1' xmlns:android='http://schemas.android.com/apk/res/android' package='org.ruboto.irb.tests' android:versionName='1.0'>
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->
    <application android:icon='@drawable/icon'>
        <uses-library android:name='android.test.runner'/>
    </application>
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of org.jruby.  To run the tests use the command:
    "adb shell am instrument -w org.jruby.ruboto.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:targetPackage='org.ruboto.irb' android:name='org.ruboto.test.InstrumentationTestRunner' android:label='Tests for IRB'/>
</manifest>