<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jruby.ruboto.irb"
      android:versionCode="2"
      android:versionName="0.2">
      
    <application android:icon="@drawable/app_icon" android:label="@string/app_name">
        <activity android:name="org.jruby.ruboto.IRB"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustResize">                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="http" />
		        <data android:host="*" />
		        <data android:pathPattern=".*\\.rb" />
			</intent-filter>
        </activity>
        <activity android:name="org.jruby.ruboto.ShortcutBuilder">                  
			<intent-filter>
			  <action android:name="android.intent.action.CREATE_SHORTCUT" />
			  <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <activity android:name="org.jruby.ruboto.RubotoActivity">
			<intent-filter>
			  <action android:name="org.jruby.ruboto.irb.intent.action.LAUNCH_SCRIPT" />
			  <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <activity android:name="org.jruby.ruboto.RubotoDialog" android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>
    
    <uses-sdk android:minSdkVersion="3"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
</manifest> 
